name: Linux CI

on: [push]

jobs:
  build-gcc7:
    runs-on: ubuntu-latest
    name: Build with GNU GCC 7
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-7 -DMOCKTURTLE_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests "~[quality]"
  build-gcc8:
    runs-on: ubuntu-latest
    name: Build with GNU GCC 8
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-8 -DMOCKTURTLE_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests "~[quality]"
  build-gcc9:
    runs-on: ubuntu-latest
    name: Build with GNU GCC 9
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-9 -DMOCKTURTLE_TEST=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests "~[quality]"
