name: Linux CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:

  build-gcc9:
    runs-on: ubuntu-latest
    name: GNU GCC 9
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC 9
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-9
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-9 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-gcc10:
    runs-on: ubuntu-latest
    name: GNU GCC 10
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC 10
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-10
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-10 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-gcc10-cpp20:
    runs-on: ubuntu-latest
    name: GNU GCC 10 (c++20)

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC 10 (c++20)
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-10 g++-10
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DMOCKTURTLE_CXX_STANDARD=20 -DCMAKE_CXX_COMPILER=g++-10 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-gcc12:
    runs-on: ubuntu-latest
    name: GNU GCC 12
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC 12
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-12
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-12 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-clang11:
    runs-on: ubuntu-22.04
    name: Clang 11
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install Clang 11
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-11
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=clang++-11 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-clang13:
    runs-on: ubuntu-22.04
    name: Clang 13
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install Clang 13
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-13
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=clang++-13 -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests
      run: |
        cd build
        ./test/run_tests
  
  build-clang13-asan:
    runs-on: ubuntu-22.04
    name: Clang 13 + ASAN

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install Clang 13
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-13
    - name: Build mockturtle with ASAN
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=clang++-13 -DMOCKTURTLE_ENABLE_ASAN=ON -DMOCKTURTLE_BUILD_TESTS=ON ..
        make run_tests
    - name: Run tests with ASAN
      run: |
        cd build
        ./test/run_tests
  
  compile-gcc9:
    runs-on: ubuntu-latest
    name: Compile everything (GCC 9)
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC 9
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-9
    - name: Build mockturtle
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_CXX_COMPILER=g++-9 -DMOCKTURTLE_BUILD_EXAMPLES=ON -DMOCKTURTLE_BUILD_EXPERIMENTS=ON -DMOCKTURTLE_BUILD_TESTS=ON ..
        make
